.aboutMeContainer {
    top: 0;
    left: 0;
    position: absolute;
    width: 80%;
    height: 100%;
    margin-left: 150px;
}

.bioContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myPic {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    border: 2px solid #27aca7;
}

.bioPara {
    width: 850px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 5px 10px 10px;
    border-radius: 10px;
}

/* .blur {
    backdrop-filter: blur(5px);    
} */

h2 {
    font-size: 30px;
    color: #1b7c79;
    text-shadow: 0 0 1px black;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}