.logo {
    height: 40px;
    width: 40px;
    margin: 10px 10px 10px 10px;
    transition: transform .2s;
    cursor: pointer;
    filter: drop-shadow(0 0 0.2em white);
}

.logo:hover {
    transform: scale(1.4);
    fill: #27aca7;
}

.row {
    display: flex;
}
