.profilePic {
    width: 0%;
    height: 0%;
    transition-property: height width;
    transition-duration: 0.4s;
    filter: drop-shadow(0 0 10px black);
    border-radius: 50%;
    margin-right: 200px;
}

.maximize {
    width: 100%;
    height: 100%;
}